.header {
  width: 100%;
  min-height: 100vh;

  background-image:
    linear-gradient(-20deg, rgba(36, 59, 55, 0.96) 20%, rgba(82, 60, 16, 0.75) 100%),
    url("/banner.png"); 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #ffffff; /* texto blanco por defecto */
  display: flex;
  flex-direction: column;
}

.navbar__container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.navbar__logo {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 900;
    color: #ffffff; /* logo blanco */
}

.navbar__menu{
    padding: 0;
    margin: 0;
}

.navbar__menu a {
    color: #ffffff; /* links en blanco */
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    text-align: left;
}

.navbar__menu a:hover{
    color: #ffdd59; /* opcional: hover amarillo dorado para destacar */
    text-decoration: underline;
}

@media(min-width: 768px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem .5rem;
    }
    .navbar__menu{
        display: flex;
        gap: 1rem;
    }
}
